.green-background {
  background-color: #70A37F;
  color: #A7D49B;
}

.yellow-background {
  background-color: #F1D302;
  color: #F8EB8C;
}

.red-background {
  background-color: #951E28;
  color: #B15B62;
}
